<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Task Bot</title>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
	<link rel="stylesheet" href="../static/styles/index.css" />
	<link rel="stylesheet" href="../static/styles/tasks.css" />
	<link rel="stylesheet" href="../static/styles/botbtn.css" />
	<link rel="stylesheet" href="../static/styles/chatbot.css" />
	<link rel="stylesheet" href="../static/styles/mediaqry.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/scripts/chatbot_toggle.js" defer></script>
	<script src="../static/scripts/chatbot.js" defer></script>
</head>

<body>
	<!-- side panel wrapper start -->
	<div class="wrapper">
		<!-- main page left start -->
		<div class="task-manager">
			<!-- left bar start -->
			<div class="left-bar">
				<!-- left content start -->
				<div class="left-content">
					<ul class="solo-task">
						<li class="item">
							<img src="../static/svg/today.svg" alt="" class="sun-today">
							<span>Tasks</span>
						</li>
						<li class="item">
							<img src="../static/svg/completed.svg" alt="" class="tick-completed">
							<span>Completed</span>
						</li>
						<li class="item">
							<img src="../static/svg/all.svg" alt="" class="window-all">
							<span>All</span>
						</li>
					</ul>
				</div>
				<!-- left content end -->
			</div>
			<!-- left bar end -->

			<!-- page content start -->
			<div class="page-content">
				<div class="header">Tasks</div>
				<!-- content categories start -->
				<div class="content-categories">
					<div class="label-wrapper">
						<input class="nav-item" name="nav" type="radio" id="opt-1" />
						<label class="category" for="opt-1">To Do</label>
					</div>
					<div class="label-wrapper">
						<input class="nav-item" name="nav" type="radio" id="opt-2" />
						<label class="category" for="opt-2">Completed</label>
					</div>
				</div>
				<!-- content categories end -->

				<!-- tasks wrapper start -->
				<div class="tasks-wrapper">
					<div class="add-task">
						<form class="new-task" method="POST" action="{{ url_for('index') }}">
							<input class="plus-task" type="text" name="new-task"
								placeholder="Add a task, press [ Enter ] to save">
						</form>
					</div>
					<ul>
						{% for task in tasks %}
						<li>
							<div class="task">
								<input class="task-item" type="checkbox" id="{{ task.id }}"
									data-name="{{ task.title }}" />
								<label for="{{ task.id }}">
									<span class="label-text">{{ task.title }}</span>
								</label>
								<img src="../static/svg/subtasks.svg" alt="" class="dotmenu-subtasks">
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
				<!-- tasks wrapper end -->
			</div>
			<!-- page content end -->

			<!-- chatbot toggler start -->
			<button class="chatbot-open">
				<img src="../static/svg/robot.svg" alt="" class="open-chatbot">
			</button>
			<!-- chatbot toggler end -->
		</div>
		<!-- main page left end -->

		<!-- chatbot bar right start -->
		<div class="chatbot">
			<div class="header">
				<span class="chatbot-header">Chat Bot</span>
				<img src="../static/svg/close.svg" alt="" class="close-chatbot">
			</div>
			<div class="chat-content">
				<ul class="chatbox">
					<li class="chat incoming">
						<span class="material-symbols-outlined">smart_toy</span>
						<p>Hi there 👋<br>What tasks can I help you with today?</p>
					</li>
				</ul>
				<div class="chat-input">
					<textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
					<span id="send-btn" class="material-symbols-rounded">send</span>
				</div>
			</div>
		</div>
		<!-- chatbot bar right end -->
	</div>
	<!-- side panel wrapper end -->
</body>

</html>