<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Task Bot</title>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
	<link rel="stylesheet" href="../static/styles/index.css" />
	<link rel="stylesheet" href="../static/styles/tasks.css" />
	<link rel="stylesheet" href="../static/styles/task-info.css" />
	<link rel="stylesheet" href="../static/styles/botbtn.css" />
	<link rel="stylesheet" href="../static/styles/chatbot.css" />
	<link rel="stylesheet" href="../static/styles/mediaqry.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/scripts/tasks.js" defer></script>
	<script src="../static/scripts/task-info.js" defer></script>
	<script src="../static/scripts/task-info_toggle.js" defer></script>
	<script src="../static/scripts/chatbot_toggle.js" defer></script>
	<script src="../static/scripts/chatbot.js" defer></script>
</head>

<body>
	<!-- side panel wrapper start -->
	<div class="wrapper">
		<!-- main page left start -->
		<div class="task-manager">
			<!-- left bar start -->
			<div class="left-bar">
				<!-- left content start -->
				<div class="left-content">
					<div class="left-bar-item">
						<input class="bar-item" name="item" type="radio" id="filter-tasks" />
						<img src="../static/svg/today.svg" alt="" class="sun-today">
						<label class="filter" for="filter-tasks">Tasks</label>
					</div>
					<div class="left-bar-item">
						<input class="bar-item" name="item" type="radio" id="filter-completed" />
						<img src="../static/svg/completed.svg" alt="" class="tick-completed">
						<label class="filter" for="filter-completed">Completed</label>
					</div>
					<div class="left-bar-item">
						<input class="bar-item" name="item" type="radio" id="filter-all" />
						<img src="../static/svg/all.svg" alt="" class="window-all">
						<label class="filter" for="filter-all">All</label>
					</div>
				</div>
				<!-- left content end -->
			</div>
			<!-- left bar end -->

			<!-- page content start -->
			<div class="page-content">
				<div class="header">Tasks</div>
				<!-- content categories start -->
				<div class="content-categories">
					<div class="label-wrapper">
						<input class="nav-item" name="nav" type="radio" id="opt-1" checked />
						<label class="category" for="opt-1">To Do</label>
					</div>
					<div class="label-wrapper">
						<input class="nav-item" name="nav" type="radio" id="opt-2" />
						<label class="category" for="opt-2">Completed</label>
					</div>
				</div>
				<!-- content categories end -->

				<!-- tasks wrapper start -->
				<div class="tasks-wrapper">
					<div class="add-task" id="add-task-section">
						<form class="new-task" method="POST">
							<input class="plus-task" type="text" name="new-task"
								placeholder="Add a task, press [ Enter ] to save">
						</form>
					</div>
					<ul id="task-list">
						<!-- Task list will be dynamically populated here -->
					</ul>
				</div>
				<!-- tasks wrapper end -->
			</div>
			<!-- page content end -->

			<!-- chatbot toggler start -->
			<button class="chatbot-open">
				<img src="../static/svg/robot.svg" alt="" class="open-chatbot">
			</button>
			<!-- chatbot toggler end -->
		</div>
		<!-- main page left end -->

		<!-- task container start -->
		<div class="task-container">
			<!-- default task container content -->
			<div class="header">
				<span class="task-header">Task Title</span>
				<img src="../static/svg/close.svg" alt="" class="close-task">
			</div>
			<!-- task details start -->
			<div class="task-details">
				<div class="due-date">
					<label>Due Date</label>
					<span>Today</span>
				</div>
				<div class="project">
					<label>Project</label>
					<span>Tasks</span>
				</div>
				<div class="task-description">
					<textarea name="task-input" placeholder="Add a note, press [ Enter ] to save ..."
						spellcheck="false"></textarea>
				</div>
				<!-- subtasks wrapper start -->
				<div class="subtasks-wrapper">
					<div class="add-subtask">
						<form class="new-subtask" method="POST">
							<input class="plus-subtask" type="text" name="new-subtask"
								placeholder="Add a subtask, press [ Enter ] to save">
						</form>
					</div>
					<div class="subtask">
						<input class="subtask-item" name="subtask" type="checkbox" id="subtask-1" />
						<label for="subtask-1">
							<span class="subtask-label-text">Create subtask for a
								task</span>
						</label>
						<button class="delete-subtask-btn">
							<img src="../static/svg/subtask-bin.svg" alt="" class="delete-subtask">
						</button>
					</div>
				</div>
				<!-- subtasks wrapper end -->
			</div>
			<!-- task details end -->

			<!-- task footer start -->
			<div class="footer">
				<span>Created on Someday</span>
				<button class="delete-task-btn">
					<img src="../static/svg/bin.svg" alt="" class="delete-task">
				</button>
			</div>
			<!-- task footer end -->
		</div>
		<!-- task container end -->

		<!-- chatbot page right start -->
		<div class="chatbot">
			<div class="header">
				<span class="chatbot-header">Chat Bot</span>
				<img src="../static/svg/close.svg" alt="" class="close-chatbot">
			</div>
			<div class="chat-content">
				<ul class="chatbox">
					<li class="chat incoming">
						<span class="material-symbols-outlined">smart_toy</span>
						<p>Hi there 👋<br>What tasks can I help you with today?</p>
					</li>
				</ul>
				<div class="chat-input">
					<textarea name="user-input" placeholder="Enter a message..." spellcheck="false" required></textarea>
					<span id="send-btn" class="material-symbols-rounded">send</span>
				</div>
			</div>
		</div>
		<!-- chatbot page right end -->
	</div>
	<!-- side panel wrapper end -->
</body>

</html>