<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>About</title>
	<link rel="stylesheet" href="../static/styles/landpg.css">
</head>

<body>
	<header>
		<nav>
			<div class="logo">
				<div class="logo-img">
					<img src="../static/svg/robot-logo.svg" alt="Task Bot Logo" id="task-bot-logo">
				</div>
				<a href="/" class="logo-header">Task Bot</a>
			</div>
			<ul class="right-nav">
				<li><a href="/about">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="/signup">Sign Up</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="description">
			<h1>About</h1>
			<p>Task Bot is your streamlined task management solution. Seamlessly generating, and </p>
			<p>organizing tasks through a user-friendly interface, it simplifies your daily routine.</p>
			<p>With intelligent AI-driven capabilities, it efficiently crafts tasks, transforming</p>
			<p>your to-dos into an organized, achievable plan. Elevate your productivity</p>
			<p>and ease your workload with Task Bot, your all-in-one task manager.</p>
		</section>
	</main>
	<footer>
		<p id="cpyrght">&copy; 2023 Task Bot. All rights reserved.</p>
	</footer>
</body>

</html>