<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Task Bot</title>
	<link rel="stylesheet" href="../static/styles/landpg.css">
</head>

<body>
	<header>
		<nav>
			<div class="logo">
				<div class="logo-img">
					<img src="../static/svg/robot-logo.svg" alt="Task Bot Logo" id="task-bot-logo">
				</div>
				<a href="/" class="logo-header">Task Bot</a>
			</div>
			<ul class="right-nav">
				<li><a href="/about">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="/signup">Sign Up</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="description">
			<h1>Welcome to Task Bot</h1>
			<p>Task Bot is your personalized task manager designed to simplify your life.</p>
			<p>Generate tasks effortlessly by conversing with our innovative</p>
			<p>AI-powered chatbot. Enhance your productivity and</p>
			<p>manage your daily routine effectively,</p>
			<p>all at your fingertips.</p>
			<a href="/login" class="login-button">Get Started</a>
		</section>
	</main>
	<footer>
		<p id="cpyrght">&copy; 2023 Task Bot. All rights reserved.</p>
	</footer>
</body>

</html>