<!-- task header start -->
<div class="header">
	<span class="task-header">{{ task.title }}</span>
	<img src="../static/svg/close.svg" alt="" class="close-task">
</div>
<!-- task header end -->

<!-- task details start -->
<div class="task-details">
	<div class="due-date">
		<label>Due Date</label>
		<span>
			{% if task.due_date %}
			{{ task.due_date }}
			{% else %}
			Someday
			{% endif %}
		</span>
	</div>
	<div class="project">
		<label>Project</label>
		<span>Tasks</span>
	</div>
	<div class="task-description">
		<textarea name="task-input" placeholder="Add a note, press [ Enter ] to save ..."
			spellcheck="false">{% if task.description %}{{ task.description }}{% endif %}</textarea>
	</div>
	<!-- subtasks wrapper start -->
	<div class="subtasks-wrapper">
		<div class="add-subtask">
			<form class="new-subtask" method="POST" data-task-id="{{ task.id }}">
				<input class="plus-subtask" type="text" name="new-subtask"
					placeholder="Add a subtask, press [ Enter ] to save">
			</form>
		</div>
		<ul id="subtask-list">
			{% for subtask in subtasks %}
			<li>
				<div class="subtask">
					<input class="subtask-item" type="checkbox" id="{{ subtask.id }}" data-task-id="{{ task.id }}"
						data-name="{{ subtask.title }}" />
					<label for="{{ subtask.id }}">
						<span class="subtask-label-text">{{ subtask.title }}</span>
					</label>
					<button class="delete-subtask-btn">
						<img src="../static/svg/subtask-bin.svg" alt="" class="delete-subtask">
					</button>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<!-- subtasks wrapper end -->
</div>
<!-- task details end -->

<!-- task footer start -->
<div class="footer">
	<span>Created on {{ task.created_at.strftime("%d-%m-%Y %H:%M") }}</span>
	<button class="delete-task-btn" data-task-id="{{ task.id }}">
		<img src="../static/svg/bin.svg" alt="" class="delete-task">
	</button>
</div>
<!-- task footer end -->