@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.chatbot {
	display: none;
	flex-direction: column;
	width: 500px;
	background: #fff;
	border-left: 1px solid #e3e7f7;
	padding: 20px 15px 0 15px;
	border-radius: 0 4px 4px 0;
}

.chatbot-panel-open .chatbot {
	display: initial;
}

.chatbot .header {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.chatbot .chatbot-header {
	font-size: 25px;
	color: #353536;

}

.chatbot .close-chatbot {
	width: 28px;
	height: 28px;
	color: currentcolor;
	cursor: pointer;
}

.chatbot .chat-content {
	border-top: 1px solid #ddd;
}

.chat-content .chatbox {
	height: 460px;
	overflow-y: auto;
}

.chatbox .outgoing {
	margin: 5px 0;
	justify-content: flex-end;
}

.chatbox .chat {
	display: flex;
}

.chatbox .chat p {
	color: #000;
	background: #d3d0d0;
	max-width: 80%;
	padding: 12px 16px;
	white-space: pre-wrap;
	border-radius: 10px 10px 0 10px;
}

.chatbox .incoming span {
	width: 30px;
	height: 30px;
	color: #fff;
	cursor: default;
	text-align: center;
	line-height: 30px;
	align-self: flex-end;
	background: #000000;
	border-radius: 3px;
	margin: 0 5px 25px 0;
}

.chatbox .incoming p {
	color: #000;
	background: #f2f2f2;
	padding: 12px 16px;
	border-radius: 10px 10px 10 0px;
}

.chatbot .chat-input {
	display: flex;
	gap: 5px;
	bottom: 0;
	width: 100%;
	background: #fff;
	border-top: 1px solid #ddd;
}

.chat-input textarea {
	height: 50px;
	max-height: 180px;
	width: 100%;
	border: none;
	outline: none;
	resize: none;
}

.chat-input span {
	align-self: flex-end;
	cursor: pointer;
	height: 50px;
	visibility: hidden;
}

.chat-input textarea:valid~span {
	visibility: visible;
}